@{
    // Layout = "_Layout";

    Layout = "~/Views/Shared/_Customer.cshtml";



}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Hello In Online Shopping</h2>
