


 <table id="myTable" class="table">

    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Order Status</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {


    <script src="~/js/order.js"></script>

}


