

<a asp-action="Add" class="btn btn-success float-end">Add</a>

<table id="myTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {


    <script src="~/js/DatatableAdmin.js"></script>

}
